<div class="row justify-content-center">
  <div class="form-group text-center">
    <label>Please select your card</label>
    <select class="form-control" #type (change)="onChange(type.value)">
      <option *ngFor="let type of typeOfCards" [value]="type.id">{{type.name}}</option>
    </select>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 img-container text-center">
    <img src="./../../../assets/images/card.png" alt="" />
  </div>
  <div class="col-md-12 text-center">
    <h5>{{ cardDetails?.name }}</h5>
    <p>
      {{cardDetails?.description}}
    </p>
    <p>[Some content goes here]</p>
  </div>
</div>
