@import './../../../styles/variables';

.card {
  font-family: $primary-font;
  background: #fff;
  padding: 2em;
  .card-header-custom {
    margin-bottom: 1.5em;
    .rating {
      @media only screen and (max-width: 960px) {
        display: none;
      }
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      .star-rating {
        margin-right: 0.5em;
      }
    }
  }
  .left-row {
    @media only screen and (max-width: 960px) {
      .img-container {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .credits {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    p {
      font-size: 1.25em;
      margin-top: 1rem;
    }

    .overall-rating {
      font-family: $primary-font-bold;
      background: #59d8d1;
      padding: 0.5em;
      text-align: center;
      border-radius: 20px;
      color: #fff;
    }
  }
  .right-row {
    .card-description {
      font-size: 1.25em;
      li {
        margin-bottom: 0.5em;
      }
    }
  }
  .fee-details {
    color: $link-color;
    font-size: 1.25em;
  }
  .apply-btn {
    font-family: $primary-font-bold;
    width: 100%;
    cursor: pointer;
    background: $button-color;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1.5em;
    color: #fff;
  }
}
