@font-face {
  font-family: 'proximaBold';
  src: url('/assets/fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'proxima';
  src: url('/assets/fonts/ProximaNova-Reg.otf') format('opentype');
}

@font-face {
  font-family: 'proximaExtraBold';
  src: url('/assets/fonts/ProximaNova-Extrabold.otf') format('opentype');
}
