@import './fonts';

$primary-font: 'proxima';
$primary-font-bold: 'proximaBold';
$primary-font-exbold: 'proximaExtraBold';

$primary-color: #23113a;
$secondary-color: #f1f5f9;
$button-color: #fa6e3d;
$link-color: #1194f6;
